{% extends 'base.html' %}

{% block title %}Szolgáltató keresés{% endblock %}

{% block content %}
  <h3>Szolgáltató keresése</h3><br><br>
  
  	<form id="searchform" method="get" accept-charset="utf-8">
      <button class="searchbutton" type="submit">
        <i>Keresés</i>
      </button>
      <input id="searchbox" name="q" type="text" placeholder="Szolgáltató neve">
    </form><br>
	<table width="600px" class="list">
		<tr>
			<th class="list" width="33%">Szolgáltató neve</th>
			<th class="list" width="67%">Cím</th>
		</tr>
		{% for provider in providers %}
		<tr>
			<td class="list"><a href="{% url 'provider_update' pk=provider.pk %}">{{ provider.providerName }}</a></td>
			<td class="list">{{ provider.city }}, {{ provider.address }}</td>
		</tr>
		{% endfor %}
	</table>
{% endblock %}
